<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>PhotoMap.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6C329F0021A3B61000EF0B2A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6C329F1421A3B61200EF0B2A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6C329F1F21A3B61200EF0B2A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
